.idea/
.idea
test_module.py
__pycache__/
poetry.lock

*.py[cod]

dist/
site/
*.egg-info/
*.egg

.env

*.db
*.sqlite3
bmw_cars.db

venv/
.venv/
..venv/

log/
*.log

requirements.txt

read_table.py

test_crawler.py
